{% extends 'layout.twig' %}

{% set title = 'Registracija uporabnika uspela'  %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1>Registracija novega uporabnika je uspešno izvedena</h1>

<p>Na vaš elektronski naslov smo vam poslali sporočilo s povezavo za aktivacijo vašega računa.</p>
<p>Če ga niste prejeli ...

{% endblock %}
