{% extends 'layout.twig' %}

{% set title = 'Menjava gesla uspela'  %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    {% include 'sidebar-button.twig' %}


    <h2 class="sub-header">Menjava gesla uspela</h2>
    <div>&nbsp;</div>
    <p>Geslo je bilo uspešno zamenjano. <a href="{{ constant('APPBASEURL')}}">Nazaj na začetno stran</a>.</p>
    
</div>      

{% endblock %}