{% extends 'layout.twig' %}

{% set title = 'Menjava gesla'  %}
{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    {% include 'sidebar-button.twig' %}


    <h2 class="sub-header">Menjava gesla</h2>
    <div>&nbsp;</div>
    <p class="clientNapisError"></p>
    <p class="clientNapisErrorNoMatch"></p>
    <form class="navbar-form" id="changePasswordForm" autocomplete="off" method="post" action="changepassword">

    {% if flash %}{{ flash|raw }}{% endif %}
    {% if errors %}
        <p>Napaka pri spremembi gesla</p>
        {% for error in errors %}
            <p>{{ error }}</p>
        {% endfor %}
    {% endif %}

        <input type="password" class="form-control" id="oldpassword" name="oldpassword" placeholder="obstojeÄe geslo">
        <div>&nbsp;</div>

        <input type="password" class="form-control" id="password" name="password" placeholder="novo geslo" >
        <div>&nbsp;</div>

        <input type="password" class="form-control" id="password2" name="password2" placeholder="ponovite novo geslo" >
        <div>&nbsp;</div>

        <button class="btn btn-primary shrani-geslo" type="submit">shrani</button>

    </form>            
</div>      
{% endblock %}