{% extends 'layout.twig' %}

{% set title = 'Konfigurator'  %}
{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"> 
	
	{% include 'preloader.twig' %}

	{% include 'sidebar-button.twig' %}

	<ul class="breadcrumb">
		<li class="active">Seznam naročil</li>
		<!--<li class="active">Podrobnosti</li>-->
	</ul>

    <div class="row">
        <h3>Konfigurator</h3>
    </div>

    <div class="row">

        <form action="#" id="k_configurator" class="k_configurator_class">
            <div>
                <div class="k-user-inputs-holder">

                    <div class="k-input-field">
                        <label for="k_obcine">Občina:</label>
                        <select id="k_obcine" class="k_obcine" name="k_obcine"></select>
                    </div>

                    <div class="k-input-field">
                        <label for="k_tip_tablice">Tip tablice:</label>
                        <select id="k_tip_tablice" class="k_tip_tablice" name="k_tip_tablice">
                            <option value="tip_avto">Avto</option>
                            <option value="tip_avto_o">Avto ožan</option>
                            <option value="tip_moped">Moped</option>
                            <option value="tip_r4">R4</option>
                            <option value="tip_r4_o">R4 ožan</option>
                            <option value="tip_traktor">Motor/Traktor</option>
                        </select>
                    </div>
                    
                    <div class="k-input-field">
                        <label>Ime na tablici:</label>
                        <input type="text" id="k_input_text" minlength="7" maxlength="7" class="k-input-text" value="1234553" placeholder="Vpišite tukaj ..." />
                    </div>

                    <div class="k-input-field k-sub-input">
                        <label for="k_vanity" title="Kombinacija znakov mora vsebovati najmanj eno črko, izbrani del označbe pa lahko vsebuje največ en pomišljaj, vendar ne na začetku ali koncu oznake. Izbrati je mogoče le tako kombinacijo znakov, ki jo omogoča prostor na tablici. Izbrani del označbe ne sme vsebovati kratic državnih organov, tujih predstavništev in mednarodnih organizacij. Žaljivi, vulgarni ali drugi neprimerni izrazi prav tako niso dovoljeni.

Cena para avtomobilskih registrskih tablic (520 x 120 mm) z oznako po izbiri je 128,86 €.

Proizvajalec tablice dobavi najkasneje v roku 14 dni po prejemu naročila, kar upoštevajte ob naročilu, saj registracija vozila brez tablic ni možna.

Tablice z vsebino po izbiri so vezane na osebo, ki jih je naročila, vseeno pa je prenos na drugo osebo možen s spodnjim obrazcem.">Vanity *: 
                        
                        {# info icon #}
        

                        </label>
                        <input type="checkbox" id="k_vanity" class="k_vanity" name="k_vanity" value="0" />
                    </div>

                </div>

                <div class="k-user-submit-holder">
                    <label class="u-blank-label"></label>
                    <input type="submit" class="cg_calculate" value="Prikaži"></input>
                </div>
            </div>
        </form>


    </div>

    <div class="row">

        <div class="tablice-holder tablica-avto">

            <div class="tab-wrapper avto-font">
                <div class="tab-grb-holder">
                    <div class="tab-okr tab-font">
                        <span>LJ</span>
                    </div>
                    <div class="tab-grb">
                        <img src="{{ constant('APPASSETS') }}/img/grb.png" />
                    </div>
                </div>
                <div class="tab-text-holder">
                    <span class="tab-text-1 tab-font">123-201</span>
                    {# <span class="tab-minus">-</span> #}
                    {# <span class="tab-text-2 tab-font">AB</span> #}
                </div>
            </div>

        </div>

    </div>

    <div class="k-info-section">

        <div class="k-info-holder">
            <div class="k-info-title">
                <h4>Registrske tablice po izbiri *</h4>
            </div>
            <div class="k-info-content">
                <p>
                    Lastnik motornega vozila se lahko odloči za registrske tablice z oznako po izbiri.
                </p>
                <p>
                    Kombinacija znakov mora vsebovati najmanj eno črko, izbrani del označbe pa lahko vsebuje največ en pomišljaj, vendar ne na začetku ali koncu oznake. Izbrati je mogoče le tako kombinacijo znakov, ki jo omogoča prostor na tablici. Izbrani del označbe ne sme vsebovati kratic državnih organov, tujih predstavništev in mednarodnih organizacij. Žaljivi, vulgarni ali drugi neprimerni izrazi prav tako niso dovoljeni.
                </p>
                <p>
                    Cena para avtomobilskih registrskih tablic (520 x 120 mm) z oznako po izbiri je 128,86 €.
                </p>
                <p>
                    Proizvajalec tablice dobavi najkasneje v roku 14 dni po prejemu naročila, kar upoštevajte ob naročilu, saj registracija vozila brez tablic ni možna.
                </p>
                <p>
                    Tablice z vsebino po izbiri so vezane na osebo, ki jih je naročila, vseeno pa je prenos na drugo osebo možen s spodnjim obrazcem.
                </p>

            </div>
        </div>

    </div>



{% endblock %}

{% block javascript %}


{# <script src="{{ constant('APPASSETS') }}/js/infrastructure/dataGrid.js"></script> #}
<script src="{{ constant('APPASSETS') }}/js/viewmodels/vm.configurator.js"></script>
<script> 

// Ensure the module is initialized when the DOM is fully loaded
document.addEventListener('DOMContentLoaded', function() {
    configuratorModel.init();
});

</script>

{% endblock %}
