{% extends 'layout.twig' %}

{% set title = 'Konfigurator'  %}
{% block title %}{{ title }}{% endblock %}

{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.2/html2canvas.min.js"></script>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"> 
	
	{% include 'preloader.twig' %}

	{% include 'sidebar-button.twig' %}

	<ul class="breadcrumb">
		<li class="active">Konfigurator</li>
	</ul>

    <div class="row">
        <h3>Konfigurator</h3>
    </div>

    <div class="row">

        <form action="#" id="k_configurator" class="k_configurator_class">
            <div>
                <div class="k-user-inputs-holder">

                    <div class="k-input-field">
                        <label for="k_tip_tablice">Tip tablice:</label>
                        <select id="k_tip_tablice" class="k_tip_tablice" name="k_tip_tablice">
                            <option value="tip_avto">Avto - 520x120 mm</option>
                            <option value="tip_avto_o">Avto - 520 x 120 mm (ožane)</option>
                            <option value="tip_r4">R4 - 340 x 220 mm</option>
                            <option value="tip_r4_o">R4 - 340 x 220 mm (ožane)</option>
                            <option value="tip_traktor">Motor – 180 x 180 mm</option>
                            <option value="tip_moped">Scooter/Moped - 150 x 110 mm</option>
                            <option value="tip_moped_rdec">Kolo z pomožnim motorjem  - 150 x 110 mm</option>
                        </select>
                    </div>

                    <div class="k-input-field">
                        <label for="k_obcine">Upravna enota (grb):</label>
                        <select id="k_obcine" class="k_obcine" name="k_obcine"></select>
                    </div>

                    
                    <div class="k-input-field">
                        <label>Vsebina tablice:</label>
                        <input type="text" id="k_input_text" minlength="4" maxlength="10" class="k-input-text" value="12-EAV" placeholder="Vpišite tukaj ..." />
                    </div>

                    <div class="k-input-field">
                        <label>Potrdi</label>
                        <input type="submit" class="cg_calculate" value="Prikaži"></input>
                    </div>

                </div>

     
            </div>
        </form>

        <div id="logger-result">

        </div>


    </div>

    <div class="row">

        <div class="tablice-holder" id="tablica-avto">

            <div class="tab-wrapper avto-font">
                <div class="tab-grb-holder">
                    <div class="tab-okr tab-font">
                        <span>LJ</span>
                    </div>
                    <div class="tab-grb">
                        <img src="{{ constant('APPASSETS') }}/img/grbi/cerknica@2x.png" />
                    </div>
                </div>
                <div class="tab-text-holder">
                    <span class="tab-text-1 tab-font">AB-201</span>
                    {# <span class="tab-minus">-</span> #}
                    {# <span class="tab-text-2 tab-font">AB</span> #}
                </div>
            </div>

        </div>

    </div>

    <div class="k-info-section">

        <div class="k-info-holder">

            {# info box with bootstrap #}

            <div class="alert alert-info k-alert" role="alert">
                <small>Informativni prikaz registrske tablice </small>
            </div>

            

        </div>

        <div class="k-info-holder">
            <a class="btn btn-primary" id="print-btn"><span class="glyphicon left-sidebar-icon glyphicon-print"></span> Natisni informativni prikaz</a>
        </div>

    </div>



{% endblock %}

{% block javascript %}


{# <script src="{{ constant('APPASSETS') }}/js/infrastructure/dataGrid.js"></script> #}
<script src="{{ constant('APPASSETS') }}/js/viewmodels/vm.configurator.js"></script>
<script> 

// Ensure the module is initialized when the DOM is fully loaded
document.addEventListener('DOMContentLoaded', function() {
    configuratorModel.init();
});

</script>

{% endblock %}
