{% extends 'layout.twig' %}

{% set title = 'Konfigurator'  %}
{% block title %}{{ title }}{% endblock %}

{% block content %}

<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ title }}</h1>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}


{# <script src="{{ constant('APPASSETS') }}/js/infrastructure/dataGrid.js"></script> #}
<script src="{{ constant('APPASSETS') }}/js/viewmodels/vm.configurator.js"></script>
<script> 

// Ensure the module is initialized when the DOM is fully loaded
document.addEventListener('DOMContentLoaded', function() {
    configuratorModel.init();
});

</script>

{% endblock %}
