<div class="pull-right search">
    <form action="{{ constant('APPBASEURL') }}search" method="GET">
    <div class="input-group">
      <input type="text" class="form-control searchInput" placeholder="Vnesite iskalni niz" name="srchString">
      <span class="input-group-btn">
        <button class="btn isci" type="submit"><span class="glyphicon glyphicon-search"></span></button>
        <button class="btn btn-secondary izbrisi" type="button" ><i class="glyphicon glyphicon-remove"></i></button>
      </span>
    </div>
    </form>
</div>