<div class="cookies">
    <span class="glyphicon glyphicon-remove zapriCookies"></span>
    <div class="cookie-wrapper">
        <p class="cookieHeading">Obvestilo o uporabi piškotkov!</p>
        <p class="cookieParagraph">Spletno mesto uporablja piškotke za zagotavljanje boljše uporabniške izkušnje. S klikom na gumb "Se strinjam", se strinjate z uporabo piškotkov. S klikom na gumb "Se ne strinjam", se ne strinjate z uporabo.<br><a data-toggle="modal" data-target="#myModal">več o tem</a></p>
        <button class="btn btn-primary strinjam-se" align="center">Se strinjam</button>
        <button class="btn btn-primary se-ne-strinjam" align="center">Se ne strinjam</button>
    </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Pravila za piškotke</h4>
            </div>
            <div class="modal-body">
               <b>1.</b> Spletna aplikacija Veresis uporablja piškotke (cookies), saj je delovanje aplikacije brez uporabe le-teh nemogoče zagotoviti.
                <br><br>

                <b>2.</b> Ob dostopu na spletno stran aplikacije Veresis je uporabnik seznanjen s tem, da spletna stran uporablja piškotke ter z dodatnimi pojasnili glede le-teh. Uporabnik lahko nadaljuje z uporabo spletne aplikacije Veresis le v kolikor se strinja z uporabo piškotkov oziroma z njihovo naložitvijo na uporabnikovo napravo (računalnik). V nasprotnem primeru bo uporaba spletne strani onemogočena.<br><br>

                <b>3.</b> Piškotki samodejno zbirajo in shranjujejo podatke, ki jih družba KIG d.d. uporablja za učinkovito upravljanje spletne aplikacije Veresis.<br><br>

                <b>4.</b> Tudi za podatke, zbrane s piškotki in drugimi primerljivimi tehnikami, se uporablja izjava o varstvu osebnih podatkov iz teh pogojev.
                <br><br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary pull-left strinjam-seModal" data-dismiss="modal">Strinjam se z uporabo</button>
                <button type="button" class="btn btn-primary pull-left se-ne-strinjamModal" data-dismiss="modal">Se ne strinjam</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Zapri</button>
            </div>
        </div>

    </div>
</div>