{% if authdata is not empty %}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 footer toggled-main">
KIG® 2016-2024, vse pravice pridržane | <a data-toggle="modal" data-target="#myModal" style="cursor: pointer">Piškotki</a></div>


{% endif %}