{% if authdata is not empty %}
	
	<div class="sidebar-toggle">
		<span class="glyphicon glyphicon-circle-arrow-right sidebar-button" style="font-size: 150%; color: #C8D200;"></span><br><br>
	</div>

{% endif %}